@use "../mixins.scss";

.advantages {
  @include mixins.mobile-view-centered();
  padding-top: 34px;
}

.advantages__title {
  @include mixins.heading-font();
  margin: 0;
  padding: 0 18px 0 18px;
  box-sizing: border-box;
}

.advantages__description {
  @include mixins.basic-font();
  margin: 35px 0 0 0;
  padding: 0 18px 0 18px;
}

.advantages__list {
  position: relative;
}

.advantages__list::before {
  position: absolute;
  content: "";
  top: 0;
  width: 320px;
  height: 37px;
  background-image: url("../img/advantages-list-border-top.svg");
  background-position: center top;
  background-repeat: no-repeat;
}
