@use "../variables.scss";
@use "../mixins.scss";

.button-primary {
  @include mixins.heading-big-font();
  display: block;
  padding: 16px;
  background-color: #81B3D2;
  color: variables.$color-light;
  text-decoration: none;
  border: none;
}
