.city-advantages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.city-advantages__item {
  background-color: #EEEEEE;

  &--with-image {
    background-color: #81B3D2;
  }
}

.city-advantages__title {

}

.city-advantages__number {

}

.city-advantages__description {

}

.city-advantages__image {
  vertical-align: bottom;
}

.city-advantages__sublist {

}
