@use "../variables.scss";
@use "../mixins.scss";

.copyright {
  @include mixins.basic-font();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: variables.$color-black;
  text-decoration: none;

  &:hover {
    color: variables.$color-half-baked;

    .copyright__icon {
      fill: variables.$color-half-baked;
    }
  }

  &:active {
    color: variables.$color-nobel;

    .copyright__icon {
      fill: variables.$color-nobel;
    }
  }

  &:focus-visible {
    color: variables.$color-half-baked;

    .copyright__icon {
      fill: variables.$color-half-baked;
    }
  }
}

.copyright__icon {
  margin-left: 12px;
}
