@use "../variables.scss";
@use "../mixins.scss";

.features-list {
  background-color: #FFFFFF;
  list-style-type: none;
}

.features-list__item {
  padding-left: 47px;
}

.features-list__item-title {
  @include mixins.heading-font();
  margin: 8px 0 0 0;
  color: variables.$color-black;
  text-align: left;
}

.features-list__item-description {
  @include mixins.basic-font();
  margin: 16px 0 0 0;
  color: variables.$color-mine-shaft;
  text-align: left;
}
