.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery__item {

}

.gallery__title {

}

.gallery__photo {
  vertical-align: bottom;
}

.gallery__photo-author {

}

.gallery__rating {

}
