@use "../variables.scss";
@use "../mixins.scss";

.main-container {
  padding-top: 32px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 66px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 98px;
  }
}

.main-container__first-title {
  @include mixins.mobile-view-centered();
}
