@use "../variables.scss";
@use "../mixins.scss";

.main-header {
  position: relative;
  min-height: 214px;
  background-image: url("../img/intro.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.main-header--welcome {
  min-height: 445px;
  background-image: url("../img/intro-welcome.jpg");

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/intro-welcome-1200.jpg");
    min-height: 574px;
  }
}
