@use "../variables.scss";
@use "../mixins.scss";

.main-header {
  background-color: variables.$color-welcome;
  position: relative;
  min-height: 214px;
  background-image: url("../img/intro.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/intro-1200.jpg");
    min-height: 346px;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/intro-1200-desktop.jpg");
    min-height: 357px;
  }
}

.main-header--welcome {
  min-height: 445px;
  background-image: url("../img/intro-welcome.jpg");

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/intro-welcome-1200.jpg");
    min-height: 574px;
  }
}

.main-header--nojs.main-header {
  min-height: 437px;
  background-color: variables.$color-white;

  @media (min-width: variables.$tablet-width) {
    min-height: 344px;
    background-color: variables.$color-welcome;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 357px;
  }
}

.main-header--nojs.main-header--welcome {
  min-height: 668px;
  background-color: variables.$color-white;

  @media (min-width: variables.$tablet-width) {
    min-height: 574px;
    background-color: variables.$color-welcome;
  }
}
