@use "../variables.scss";
@use "../mixins.scss";

.main-nav {
  position: relative;
  background-color: variables.$color-white;
  height: 56px;
}

.main-nav__list {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "main catalog empty form academy";
    margin: 0 auto;
    max-width: variables.$desktop-width;
  }
}

.main-nav__list--shown {
  display: block;

  @media (min-width: variables.$tablet-width) {
    display: grid;
  }
}

.main-nav__list.main-nav__list--nojs {
  position: relative;
}

.main-nav__toggle.main-nav__toggle--nojs {
  display: none;
}

.main-nav__logo {
  width: 185px;
  height: 96px;
  display: block;
  margin: 0 auto;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.9;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    top: 0;
    left: calc(50% - (185px) / 2);
  }
}

.main-nav__toggle {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 17px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover .main-nav__toggle-line {
  opacity: 0.6;
}

.main-nav__toggle:active .main-nav__toggle-line {
  opacity: 0.3;
}

.main-nav__toggle:hover .main-nav__toggle-line-second {
  opacity: 0;
}

.main-nav__toggle:active .main-nav__toggle-line-second {
  opacity: 0;
}

.main-nav__toggle:focus-visible .main-nav__toggle-line-second {
  opacity: 0;
}

.main-nav__toggle--active:hover .main-nav__toggle-line-second {
  opacity: 0.6;
}

.main-nav__toggle--active:active .main-nav__toggle-line-second {
  opacity: 0.3;
}

.main-nav__toggle--active:focus-visible .main-nav__toggle-line-second {
  opacity: 0.6;
}

.main-nav__toggle:focus-visible {
  outline: none;
}

.main-nav__toggle:focus-visible .main-nav__toggle-line {
  opacity: 0.6;
}

.main-nav__toggle-line {
  display: block;
  position: absolute;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: variables.$color-half-baked;
  -webkit-transition: 0.2s all linear; /*stylelint-disable-line  property-no-vendor-prefix*/
  transition: 0.2s all linear;
}

.main-nav__toggle-line-first {
  top: 0;
}

.main-nav__toggle-line-second,
.main-nav__toggle-line-third {
  top: 50%;
  transform: translateY(-50%);
}

.main-nav__toggle-line-fourth {
  bottom: 0;
}

.main-nav__toggle.main-nav__toggle--active .main-nav__toggle-line-first,
.main-nav__toggle.main-nav__toggle--active .main-nav__toggle-line-fourth {
  opacity: 0;
  background-color: variables.$color-white;
}

.main-nav__toggle.main-nav__toggle--active .main-nav__toggle-line-second {
  transform: translateY(-50%) rotate(45deg);
  background-color: variables.$color-white;
}

.main-nav__toggle.main-nav__toggle--active .main-nav__toggle-line-third {
  transform: translateY(-50%) rotate(-45deg);
  background-color: variables.$color-white;
}
