@use "../variables.scss";
@use "../mixins.scss";

.map {
  padding-bottom: 15px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    max-width: variables.$desktop-width;
  }
}

.map__image {
  vertical-align: top;
  background-color: variables.$color-cararra;
  width: 100%;
  object-fit: cover;
}
