@use "../variables.scss";

.page__body {
  margin: 0;
}

.page__container {
  max-width: variables.$desktop-width;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  margin-left: auto;
  margin-right: auto;
}
