@use "../variables.scss";
@use "../mixins.scss";

.put-personal-data__label {
  @include mixins.basic-font();
  text-align: left;
  display: block;
  margin-left: 15px;
}

.put-personal-data__input {
  @include mixins.heading-font();
  text-align: left;
  text-transform: unset;
  display: block;
  width: 100%;
  padding: 16px 15px;
  box-sizing: border-box;
  border: none;
  background-color: variables.$color-concrete;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover {
    background-color: variables.$color-mercury;
  }

  &:active {
    background-color: transparent;
    outline: 4px solid variables.$color-mercury;
    outline-offset: -4px;
  }

  &:focus-visible {
    background-color: variables.$color-mercury;
    outline: none;
  }
}

.put-personal-data__input--phone {
  padding-right: 58px;
}

.put-personal-data__input-wrapper {
  position: relative;
}

.put-personal-data__icon {
  position: absolute;
  top: 0;
  right: 0;
}
