@use "../variables.scss";
@use "../mixins.scss";

.put-phone {

}

.put-phone__label {
  @include mixins.basic-font();
  color: variables.$color-basic;
  background-color: red;
  text-align: left;
  display: block;
  padding-left: 15px;
}

.put-phone__input {
  @include mixins.heading-font();
  color: variables.$color-dark;
  text-align: left;
  text-transform: unset;
  display: block;
  padding: 16px 15px;
  border: none;
}
