@use "../variables.scss";
@use "../mixins.scss";

.put-rating {
  display: inline-flex;
}

.put-rating__button {
  width: 23px;
  height: 21px;
  background-color: inherit;
  border: none;
}

.put-rating__counter {
  @include mixins.basic-font;
  color: variables.$color-black;
  font-weight: variables.$weight-bold;
  margin-left: 14px;

  @media (min-width: variables.$desktop-width) {
    color: variables.$color-white;
  }
}
