@use "../variables.scss";
@use "../mixins.scss";

.radio-variant {
  position: relative;
  display: block;
  padding: 10px 10px 10px 62px;
}

.radio-variant__control {
  position: absolute;
  left: 0;
  top: calc(50% - 23px);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #F2F2F2;
}

.radio-variant__input:checked + .radio-variant__control::before {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  content: "";
  border-radius: 50%;
  background-color: #333333;
}

.radio-variant__label {
  @include mixins.heading-font();
  color: variables.$color-black;
  text-transform: none;
}
