@use "../variables.scss";
@use "../mixins.scss";

.review {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 37px 0 31px 0;

  @media (min-width: variables.$tablet-width) {
    padding-top: 63px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 113px;
  }
}

.review__title {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 435px;
}

.review__description {
  @include mixins.basic-font();
  margin: 24px auto 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 435px;

  @media (min-width: variables.$desktop-width) {
    margin-top: 33px;
  }
}

.review__form {
  margin-top: 28px;
}
