@use "../variables.scss";
@use "../mixins.scss";

.review {
  @include mixins.mobile-view-centered();
  box-sizing: border-box;
  padding: 37px 0 31px 0;
}

.review__title {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.review__description {
  @include mixins.basic-font();
  color: variables.$color-mine-shaft;
  margin: 24px 0 0 0;
  padding-right: 20px;
  padding-left: 20px;
}

.review__form {
  margin-top: 28px;
}
