@use "../variables.scss";

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.social-list__icon {
  fill: variables.$color-white;
}

.social-list__item + .social-list__item {
  margin-left: 6px;
}

.social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: variables.$color-half-baked;
}
