@use "../variables.scss";
@use "../mixins.scss";

.video-presentation {
  padding: 17px 20px 7px 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 60px 52px 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 60px;
    padding-bottom: 95px;
    max-width: 1200px;
  }
}

.video-presentation__title {
  @include mixins.heading-font();
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: variables.$font-size-extra-large;
  }
}

.video-presentation__description {
  @include mixins.basic-font();
  margin: 27px auto 0 auto;
  padding-left: 8px;
  padding-right: 6px;
  max-width: 445px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 30px;
  }
}

.video-presentation__video {
  position: relative;
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  width: 280px;
  height: 177px;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-image-set(url("../img/video-mobile.webp") 1x); /*stylelint-disable-line   declaration-block-no-duplicate-properties, value-no-vendor-prefix*/

  @media (resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 280px 177px;
    background-image: -webkit-image-set(url("../img/video-mobile@2x.webp") 2x); /*stylelint-disable-line   declaration-block-no-duplicate-properties, value-no-vendor-prefix*/
  }

  @media (min-width: variables.$tablet-width) {
    height: 500px;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    background-image: url("../img/video-tablet.jpg");
    background-image: -webkit-image-set(url("../img/video-tablet.webp") 1x); /*stylelint-disable-line   declaration-block-no-duplicate-properties, value-no-vendor-prefix*/

    @media (resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 648px 500px;
      background-image: -webkit-image-set(url("../img/video-tablet@2x.webp") 2x); /*stylelint-disable-line   declaration-block-no-duplicate-properties, value-no-vendor-prefix*/
    }
  }

  @media (min-width: variables.$desktop-width) {
    height: 500px;
    width: 800px;
    background-image: url("../img/video-desktop.jpg");
    background-image: -webkit-image-set(url("../img/video-desktop.webp") 1x); /*stylelint-disable-line   declaration-block-no-duplicate-properties, value-no-vendor-prefix*/

    @media (resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 800px 500px;
      background-image: -webkit-image-set(url("../img/video-desktop@2x.webp") 2x); /*stylelint-disable-line   declaration-block-no-duplicate-properties, value-no-vendor-prefix*/
    }
  }
}

.video-presentation__button {
  position: absolute;
  width: 48px;
  height: 54px;
  background-image: url("../img/icons/video-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  left: calc(50% - 24px);
  top: calc(50% - 27px);
  cursor: pointer;
}

.video-presentation__button:hover {
  opacity: 0.8;
}

.video-presentation__button:active {
  opacity: 0.3;
}

.video-presentation__button:focus-visible {
  outline: none;
  opacity: 0.8;
}

.video-presentation__button:disabled {
  cursor: unset;
  opacity: 0.3;
}
