@use "variables.scss";

@mixin mobile-view-centered {
  margin: 0 auto;
  max-width: 320px;
}

@mixin tablet-view-centered {
  margin: 0 auto;
  max-width: 768px;
}

@mixin basic-font {
  font-family: variables.$font-family-basic;
  font-weight: variables.$weight-basic;
  font-size: variables.$font-size-basic;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$color-mine-shaft;
}

@mixin heading-font {
  font-family: variables.$font-family-basic;
  font-weight: variables.$weight-bold;
  font-size: variables.$font-size-big;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$color-black;
}

@mixin heading-big-font {
  font-family: variables.$font-family-basic;
  font-weight: variables.$weight-bold;
  font-size: variables.$font-size-large;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$color-black;
}
