@use "variables.scss";

@mixin mobile-view-centered {
  margin: 0 auto;
  max-width: 320px;
}

@mixin basic-font {
  font-family: variables.$font-family-basic;
  font-weight: variables.$weight-basic;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

@mixin heading-font {
  font-family: variables.$font-family-basic;
  font-weight: variables.$weight-bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

@mixin heading-big-font {
  font-family: variables.$font-family-basic;
  font-weight: variables.$weight-bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
