//fonts
$color-white: #ffffff;
$color-black: #000000;
$color-black-opacity: rgba(0, 0, 0, 0.3);
$color-mine-shaft: #333333;
$color-half-baked: #81b3d2;
$color-concrete: #f2f2f2;
$color-gallery: #eeeeee;
$color-gallery-second: #eaeaea;
$color-alto: #d6d6d6;
$color-alto-second: #dbdbdb;
$color-mercury: #e5e5e5;
$color-cararra: #f2f1ed;

$font-family-basic: "PT Sans", sans-serif;

$weight-basic: 400;
$weight-bold: 700;

$font-size-small: 12px;
$font-size-basic: 14px;
$font-size-big: 18px;
$font-size-large: 21px;
$font-size-extra-large: 30px;

//view-port
$tablet-width: 768px;
$desktop-width: 1200px;
