$color-white: #FFFFFF;
$color-black: #000000;
$color-mine-shaft: #333333;
$color-half-baked: #81B3D2;
$color-concrete: #F2F2F2;
$color-gallery: #EEEEEE;
$color-alto: #D6D6D6;
$color-mercury: #E5E5E5;
$color-cararra: #F2F1ED;

$font-family-basic: "PT Sans", sans-serif;

$weight-basic: 400;
$weight-bold: 700;
