//fonts
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-opacity: rgba(0, 0, 0, 0.3);
$color-mine-shaft: #333333;
$color-half-baked: #81B3D2;
$color-concrete: #F2F2F2;
$color-gallery: #EEEEEE;
$color-alto: #D6D6D6;
$color-alto-second: #DBDBDB;
$color-mercury: #E5E5E5;
$color-cararra: #F2F1ED;

$font-family-basic: "PT Sans", sans-serif;

$weight-basic: 400;
$weight-bold: 700;

$font-size-small: 12px;
$font-size-basic: 14px;
$font-size-big: 18px;
$font-size-large: 21px;
$font-size-extra-large: 30px;

//view-port
$tablet-width: 768px;
$desktop-width: 1200px
